body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  width: 90vw;
  height: 90vh;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  caret-color: transparent;
}
.header {
  background-color: #ffffff;
  width: 100vw;
  height: 50px;
  display: flex;
  position: absolute;
  box-shadow: 1px 1px 1px 1px rgba(45, 0, 194, 0.1);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.title {
  color: #e0e0e0;
}
.all-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-input {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 86px;
}
.to-do-input {
  cursor: pointer;
  width: 300px;
  height: 80px;
  border-style: solid;
  border-radius: 24px;
  border-color: rgba(45, 0, 194, 0.1);
  box-shadow: 1px 1px 3px 1px rgba(45, 0, 194, 0.1);
  background-color: rgba(250, 250, 250, 0.5);
  padding-left: 18px;
  font-size: 24px;
  color: rgba(36, 0, 155, 0.7);
  outline: none;
}
.to-do-input:hover {
  border-color: rgba(45, 0, 194, 0.3);
  box-shadow: 1px 1px 3px 1px rgba(45, 0, 194, 0.3);
}
.to-do-input:focus {
  border-color: rgba(45, 0, 194, 0.7);
  box-shadow: 1px 1px 3px 1px rgba(45, 0, 194, 0.9);
}
.to-do-input:active {
  border-color: rgba(45, 0, 194, 0.7);
  box-shadow: 1px 1px 3px 1px rgba(45, 0, 194, 0.9);
  outline: none;
  border: none;
  caret-color: rgb(0, 0, 0);
}
.to-do-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 300px;
  height: 80px;
  border-style: solid;
  border-radius: 24px;
  border-color: rgba(45, 0, 194, 0.4);
  box-shadow: 1px 1px 3px 1px rgba(45, 0, 194, 0.4);
  background-color: rgba(250, 250, 250, 0.5);
  padding-left: 12px;
  font-size: 24px;
  color: rgba(36, 0, 155, 0.7);
  margin: 12px;
  outline: none;
  caret-color: transparent;
}
